<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/template :: head">
        <title>User Data</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <section th:replace="layout/editCustomer :: editCustomer"></section>
        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>
